/* general body edits begin */
body { 
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
}
/* general body edits end */
 .background_img{
     margin: 0;
     height: 770px;
    background-image:url(pexels-pixabay-33545.jpg) ;
    background-position: center;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
 }
    
.taskbar{
    /* the whole taskbar as a flexbox */
    display: flex;
    background-color: #ffffff;
    margin-top: 50px ;
    margin-left: 90px ;
    margin-right: 90px ;
    height: 110px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    /* the logo div */
flex-grow: 0.6;
}
.logo img{
    /* the svg logo edits */
    width : 160px;
    padding-top: 40px;
    padding-left: 15px;
}
.tabs{
    /* these are the tabs settings i.e reviews/dashboard etc */
    padding: 45px 5px;
    color:#9400D3 ;
}
#current{
    /* it refres to the current tabs selected which is "reviews */
    background-color: #E0E0E0;
    flex-grow: 0.05;
    padding-left: 40px;
    color: #000010;
}
.tabs:hover{
    /* basic effects  */
    cursor: pointer;
    color: #000010;
    transform: translate(3px);

}
/* Now the css related to review has begun */
.reviews_container{
    /* this is the flex container of all the reviews */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    top: -100px;
    background-color: #D6DBDF; 
    margin-left: 200px;
    margin-right: 200px;
    
}
.reviews{
    /* this is editing all the flexboxes inside the container as they are given same class*/
    background-color: white;
    
    margin-right: 100px ;
    margin-left: 100px;
}
/* position adjustments of reviews begin */
#rev1 {position: relative;
    top: -100px;}
#rev3{ position: relative;
top: 100px;}
#rev4{ position: relative;
top: 200px;}
/* position adjustments of reviews end */
.photu{
    /* this is the editing of the photos of the user that commented on the post  */
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    height: 5.5em;
    position: relative;
    right: -400px;
    top: -35px
}
p{
    /* this aligns the name and the date of the post */
    text-align: center;
    margin-top: 0px ;
    margin-bottom: 0px;
}
b{
    color: #551A8B;
}
.reviews_text{
    /* this aligns the text written by people as reviews */
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom:100px ;

}
.like{
    /* this aligns the like/stars  */
    margin-left: 300px;
    margin-right: 300px;
}

/* icons css start */
#thumbsup{
    color:  blue;
    font-size: 26px;
}
.far{
    color: grey;
    font-size: 26px;
}
.fas{color:yellow;
    font-size: 26px;
}
#thumbsdown{
    color: red;
    font-size: 26px;
}
span{margin-left: 26px;
    

}
/* icons css end */
#last {
    margin-bottom:100px ;
}

/* comments editing begins */
.comm{
    margin-left: 320px;
    margin-bottom: 80px;
}
#button1, #button2, #button3, #button4{

    background-color:purple;
   color:white;
   border: none;
   border-radius: 30px;
   padding: 8px 16px;
   font-size: 10px;
   margin:20px 0px 0px;

}
#button1:hover, #button2:hover, #button3:hover, #button4:hover{
    box-shadow: 0.5px 0.5px 0.5px black;
   cursor: pointer;
transform: translate(1px,-1px);
 transition-duration: 0.25s;   

}